{% extends "shop/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Pay by credit card{% endblock %}

{% block content %}
{% include 'cart/detail_header.html' %}

<div id="wrapper">
  <!-- content -->	
  <div class="content">
      <!-- column-image  -->	
      <div class="column-image">
        <div class="bg"  data-bg="{% static "img/2.jpg" %}" ></div>  
          <div class="overlay"></div>
         
          <div class="column-title">
         
              <h2>{% trans "Payment Process" %}</h2>
              
          </div>
         
          <div class="fixed-column-dec"></div>
      </div>
      <!-- column-image end  -->	
      <!-- column-wrapper -->	
      <div class="column-wrapper ">
<!--scroll-nav-wrap -->	
         
							
          <section id="sec3">
              <div class="container small-container">
                  <div class="section-title fl-wrap">
                      <h3>{% trans "Pay your reservation now"%}</h3>
                      <h4>{% trans "Pay your reservation securely and quickly, with our e-commerce system. We accept the following cards." %}</h4>
                      <img src="{% static '/img/credit/american-express.png' %}">
                      <img src="{% static '/img/credit/cirrus.png' %}">
                      <img src="{% static '/img/credit/mastercard.png' %}">
                      <img src="{% static '/img/credit/paypal2.png' %}">
                      <img src="{% static '/img/credit/visa.png' %}">
                      <div class="contact-details fl-wrap">
                        {% for item in cart %}
                        <ul>
                          <li><span>Tour :</span>{{ item.product.name }} </li>
                            <li><span># <i class="fal fa-user"></i>:</span>{{ item.quantity }}</li>
                            <li><span>Sub total :</span>${{ item.total_price|floatformat:"2" }}</li>
                            <li><span>Discount :</span>
                              {% blocktrans with code=cart.coupon.code discount=cart.coupon.discount %}
                                {{ code }} ({{ discount }}% off)
                              {% endblocktrans %}
                              <span>- ${{ cart.get_discount|floatformat:"2" }}</span>
                            </li>
                            <p>{% trans "Total" %}: ${{ cart.get_total_price_after_discount|floatformat:"2" }}</p>
                        </ul>
                        {% endfor %}
                    </div>   
                  </div>
                  <div class="column-wrapper_item fl-wrap">
                      <div class="column-wrapper_text fl-wrap">
                          <div id="contact-form" class="fl-wrap">
                              <div id="message"></div>
                            
                              <div class="container">
                                <div class="container-wrap per">
                                  
                                  <div class="form-controls__steps">1/4</div>
                              
                                  <nav class="form-controls">
                                    <a href="" class="form-controls__prev form-controls--hidden">
                                      <svg width="19" height="32" viewBox="0 0 19 32" xmlns="http://www.w3.org/2000/svg"><title>next</title><path fill="#ffffff" d="M5.657 15.556L18.385 2.828 15.555 0 0 15.556l15.556 15.557 2.83-2.83" fill-rule="evenodd"/></svg>
                                    </a>
                                    <a href="" class="form-controls__next form-controls--hidden">
                                      <svg width="19" height="32" viewBox="0 0 19 32" xmlns="http://www.w3.org/2000/svg"><title>prev</title><path fill="#ffffff" d="M12.727 15.556L0 2.828 2.828 0l15.557 15.556L2.828 31.113 0 28.283" fill-rule="evenodd"/></svg>
                                    </a>
                                  </nav>
                              
                                  <form action="." id="payment" method="post">
                                    <div class="form-group">
                                      <label for="card-number">Número de tarjeta:</label>
                                      <div id="card-number" class="field form-control"></div>
                                     
                                    </div>
                                    <div class="form-group">
                                      <label for="cvv">Codigo de seguridad / CVV:</label>
                                       <div id="cvv" class="field form-control"></div>
                                    </div>
                                    <div class="form-group">
                                      <label for="expiration-date">Fecha de Expiración:</label>
                                      <div id="expiration-date" class="field form-control"></div>
                                    </div>
                                    <input type="hidden" id="nonce" name="payment_method_nonce" value="">
                                    {% csrf_token %}
                                    <input  class="btn btn-block btn-success" type="submit" value="Realizar pago">
                              </form>
                              
                                  <div class="form-info">
                                    <p class="field-message">Let's add your card number.</p>
                                  </div>
                                  
                                </div>
                              </div>
                              
                              
                                
                            
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <!--section end  -->	
          <!--footer -->			
          <footer class="min-footer fl-wrap content-animvisible">
              <div class="container small-container">
                  <div class="footer-inner fl-wrap">
                      <!-- policy-box-->
                      <div class="policy-box">
                        <span>&#169; Powered by SmartQuail, Inc / Design by Edward Cooper  </span>
                      </div>
                      <!-- policy-box end-->
                      <a href="#" class="to-top-btn to-top">Back to top <i class="fal fa-long-arrow-up"></i></a>
                  </div>
              </div>
          </footer>
          <!--footer end  -->	
      </div>
      <!-- column-wrapper -->	
  </div>
  <!--content end-->	
  <!--share-wrapper-->
  <div class="share-wrapper">
      <div class="share-container fl-wrap  isShare"></div>
  </div>
  <!--share-wrapper end-->
</div>
  
  <!-- Load the required client component. -->
  <script src="https://js.braintreegateway.com/web/3.29.0/js/client.min.js"></script>
  <!-- Load Hosted Fields component. -->
  <script src="https://js.braintreegateway.com/web/3.29.0/js/hosted-fields.min.js"></script>
  <script>
    var form = document.querySelector('#payment');
    var submit = document.querySelector('input[type="submit"]');

    braintree.client.create({
      authorization: '{{ client_token }}'
    }, function (clientErr, clientInstance) {
      if (clientErr) {
        console.error(clientErr);
        return;
      }

      braintree.hostedFields.create({
        client: clientInstance,
        styles: {
          'input': {'font-size': '13px'},
          'input.invalid': {'color': 'red'},
          'input.valid': {'color': 'green'}
        },
        fields: {
          number: {selector: '#card-number'},
          cvv: {selector: '#cvv'},
          expirationDate: {selector: '#expiration-date'}
        }
      }, function (hostedFieldsErr, hostedFieldsInstance) {
        if (hostedFieldsErr) {
          console.error(hostedFieldsErr);
          return;
        }

        submit.removeAttribute('disabled');

        form.addEventListener('submit', function (event) {
          event.preventDefault();

          hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
            if (tokenizeErr) {
              console.error(tokenizeErr);
              return;
            }
            // set nonce to send to the server
            document.getElementById('nonce').value = payload.nonce;
            // submit form
            document.getElementById('payment').submit();
          });
        }, false);
      });
    });
  </script>
{% endblock %}