{% extends "webapp_v10/base_2.html" %}
{% load i18n %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}
{% load static %}

{% block content %}



    <!-- header end -->
    <!-- wrapper  -->	
    <div id="wrapper">
        <!-- content -->	
        <div class="content">
            <!--bottom-filter-wrap-->	
            <div class="bottom-filter-wrap hor-filter-wrap">
                <div class="scroll-down-wrap">
                    <div class="mousey">
                        <div class="scroller"></div>
                    </div>
                    <span>Scroll down to discover</span>
                </div>
                <div class="filter-title">Filters <i class="fal fa-long-arrow-right"></i></div>
                <div class="gallery-filters">
                    <a href="#" class="gallery-filter  gallery-filter-active" data-filter="*">All</a>
                    <a href="#" class="gallery-filter" data-filter=".nature">Nature</a>
                    <a href="#" class="gallery-filter" data-filter=".models">Models</a>
                    <a href="#" class="gallery-filter" data-filter=".couples">Couples</a>
                    <a href="#" class="gallery-filter" data-filter=".outdoor">Outdoor</a>
                </div>
                <div class="count-folio round-counter">
                    <div class="num-album"></div>
                    <div class="all-album"></div>
                </div>
            </div>
            <!--bottom-filter-wrap end-->	
            <div class="ff_panel-conainer fl-wrap">
                <!-- portfolio start -->
                <div class="gallery-items min-pad   four-column fl-wrap lightgallery">
                    <!-- gallery-item-->
                    <div class="gallery-item nature">
                        <div class="grid-item-holder hov_zoom">
                            {% for item in page.galleria_2.all %}
                            {% image item.image width-1200 as s1 %}
                            <img  src="{{s1.url}}"    alt="">
                            {% endfor %}
                            <a href="images/folio/1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>                                    
                            <div class="thumb-info">
                                <h3><a href="portfolio-single.html">{{page.banner_title4| richtext}}</a></h3>
                                <p>Here you can place an optional description of your  Project</p>
                            </div>
                        </div>
                    </div>
                    <!-- gallery-item end-->
                    <!-- gallery-item-->
                    <div class="gallery-item couples">
                        <div class="grid-item-holder hov_zoom">
                            {% for item in page.galleria_2.all %}
                            {% image item.image_2 width-1200 as s2 %}
                            <img  src="{{s2.url}}"    alt="">
                            {% endfor %}
                            <a href="images/folio/1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>                                    
                            <div class="thumb-info">
                                <h3><a href="portfolio-single.html">{{page.banner_title5| richtext}}</a></h3>
                                <p>Here you can place an optional description of your  Project</p>
                            </div>
                        </div>
                    </div>
                    <!-- gallery-item end-->
                    <!-- gallery-item-->
                    <div class="gallery-item models">
                        <div class="grid-item-holder hov_zoom">
                            {% for item in page.galleria_2.all %}
                            {% image item.image_3 width-1200 as s3 %}
                            <img  src="{{s3.url}}"    alt="">
                            {% endfor %}
                            <a href="images/folio/1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>                                    
                            <div class="thumb-info">
                                <h3><a href="portfolio-single.html">{{page.banner_title6| richtext}}</a></h3>
                                <p>Here you can place an optional description of your  Project</p>
                            </div>
                        </div>
                    </div>
                    <!-- gallery-item end-->                           
                    <!-- gallery-item-->
                    <div class="gallery-item nature">
                        <div class="grid-item-holder hov_zoom">
                            {% for item in page.galleria_2.all %}
                            {% image item.image_4 width-1200 as s4 %}
                            <img  src="{{s4.url}}"    alt="">
                            {% endfor %}
                            <a href="images/folio/1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>                                    
                            <div class="thumb-info">
                                <h3><a href="portfolio-single.html">{{page.banner_title5| richtext}}</a></h3>
                                <p>Here you can place an optional description of your  Project</p>
                            </div>
                        </div>
                    </div>
                    <!-- gallery-item end-->                            
                    <!-- gallery-item-->
                    <div class="gallery-item couples">
                        <div class="grid-item-holder hov_zoom">
                            <img  src="images/folio/1.jpg"    alt="">
                            <a href="images/folio/1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>                                    
                            <div class="thumb-info">
                                <h3><a href="portfolio-single.html">The other side of me</a></h3>
                                <p>Here you can place an optional description of your  Project</p>
                            </div>
                        </div>
                    </div>
                    <!-- gallery-item end-->    
                    <!-- gallery-item-->
                    <div class="gallery-item models">
                        <div class="grid-item-holder hov_zoom">
                            <img  src="images/folio/2.jpg"    alt="">
                            <a href="images/folio/2.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>                                    
                            <div class="thumb-info">
                                <h3><a href="portfolio-single.html">A Wonderful Life</a></h3>
                                <p>Here you can place an optional description of your  Project</p>
                            </div>
                        </div>
                    </div>
                    <!-- gallery-item end-->                           
                    <!-- gallery-item-->
                    <div class="gallery-item nature">
                        <div class="grid-item-holder hov_zoom">
                            <img  src="images/folio/1.jpg"    alt="">
                            <a href="images/folio/1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>
                            <div class="thumb-info">
                                <h3><a href="portfolio-single.html">My Blooming Backyard</a></h3>
                                <p>Here you can place an optional description of your  Project</p>
                            </div>
                        </div>
                    </div>
                    <!-- gallery-item end-->                            
                    <!-- gallery-item-->
                    <div class="gallery-item models">
                        <div class="grid-item-holder hov_zoom">
                            <img  src="images/folio/1.jpg"    alt="">
                            <a href="images/folio/1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>
                            <div class="thumb-info">
                                <h3><a href="portfolio-single.html">Life, here I come</a></h3>
                                <p>Here you can place an optional description of your  Project</p>
                            </div>
                        </div>
                    </div>
                    <!-- gallery-item end-->  
                    <!-- gallery-item-->
                    <div class="gallery-item outdoor">
                        <div class="grid-item-holder hov_zoom">
                            <img  src="images/folio/2.jpg"    alt="">
                            <a href="images/folio/2.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>
                            <div class="thumb-info">
                                <h3><a href="portfolio-single.html">Travelling is Fun</a></h3>
                                <p>Here you can place an optional description of your  Project</p>
                            </div>
                        </div>
                    </div>
                    <!-- gallery-item end--> 
                    <!-- gallery-item-->
                    <div class="gallery-item outdoor nature">
                        <div class="grid-item-holder hov_zoom">
                            <img  src="images/folio/1.jpg"    alt="">
                            <a href="images/folio/1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>
                            <div class="thumb-info">
                                <h3><a href="portfolio-single.html">Just Happy</a></h3>
                                <p>Here you can place an optional description of your  Project</p>
                            </div>
                        </div>
                    </div>
                    <!-- gallery-item end-->							
                    <!-- gallery-item-->
                    <div class="gallery-item nature models">
                        <div class="grid-item-holder hov_zoom">
                            <img  src="images/folio/1.jpg"    alt="">
                            <a href="images/folio/1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>
                            <div class="thumb-info">
                                <h3><a href="portfolio-single.html">Go green</a></h3>
                                <p>Here you can place an optional description of your  Project</p>
                            </div>
                        </div>
                    </div>
                    <!-- gallery-item end-->                                                           
                    <!-- gallery-item-->
                    <div class="gallery-item couples outdoor">
                        <div class="grid-item-holder hov_zoom">
                            <img  src="images/folio/2.jpg"    alt="">
                            <a href="images/folio/2.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>
                            <div class="thumb-info">
                                <h3><a href="portfolio-single.html">Crazy, cute couple</a></h3>
                                <p>Here you can place an optional description of your  Project</p>
                            </div>
                        </div>
                    </div>
                    <!-- gallery-item end-->  
                    <!-- gallery-item-->
                    <div class="gallery-item nature">
                        <div class="grid-item-holder hov_zoom">
                            <img  src="images/folio/1.jpg"    alt="">
                            <a href="images/folio/1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>
                            <div class="thumb-info">
                                <h3><a href="portfolio-single.html">Go green</a></h3>
                                <p>Here you can place an optional description of your  Project</p>
                            </div>
                        </div>
                    </div>
                    <!-- gallery-item end-->                                                           
                    <!-- gallery-item-->
                    <div class="gallery-item couples models">
                        <div class="grid-item-holder hov_zoom">
                            <img  src="images/folio/1.jpg"    alt="">
                            <a href="images/folio/1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>
                            <div class="thumb-info">
                                <h3><a href="portfolio-single.html">Crazy, cute couple</a></h3>
                                <p>Here you can place an optional description of your  Project</p>
                            </div>
                        </div>
                    </div>
                    <!-- gallery-item end--> 
                    <!-- gallery-item-->
                    <div class="gallery-item  outdoor">
                        <div class="grid-item-holder hov_zoom">
                            <img  src="images/folio/1.jpg"    alt="">
                            <a href="images/folio/1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>
                            <div class="thumb-info">
                                <h3><a href="portfolio-single.html">Crazy, cute couple</a></h3>
                                <p>Here you can place an optional description of your  Project</p>
                            </div>
                        </div>
                    </div>
                    <!-- gallery-item end-->  
                    <!-- gallery-item-->
                    <div class="gallery-item models">
                        <div class="grid-item-holder hov_zoom">
                            <img  src="images/folio/1.jpg"    alt="">
                            <a href="images/folio/1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>
                            <div class="thumb-info">
                                <h3><a href="portfolio-single.html">Go green</a></h3>
                                <p>Here you can place an optional description of your  Project</p>
                            </div>
                        </div>
                    </div>
                    <!-- gallery-item end-->                                                            							
                </div>
                <!-- portfolio end -->
            </div>
        </div>
        <!--content end-->	
        <!--share-wrapper-->
        <div class="share-wrapper">
            <div class="share-container fl-wrap  isShare"></div>
        </div>
        <!--share-wrapper end-->
    </div>
    <!-- wrapper end -->
    <!-- sidebar -->
</body>

    {% endblock %}