{% extends "webapp_v10/base_2.html" %}
{% load i18n %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

{% include 'webapp_v10/environs_header.html' %}

<div id="wrapper">
    <!-- content -->	
    <div class="content">
        <!-- column-image  -->	
        <div class="column-image"> 
            {% for item in page.galleria_6.all %}
            {% image item.image width-1200 as s1 %}
            <div class="bg"  data-bg="{{s1.url}}"></div>
            {% endfor %}
            <div class="overlay"></div>
            <div class="column-title">
                <h2>{{page.title}}</h2>
            </div>
          
            <div class="fixed-column-dec"></div>
        </div>
        <!-- column-image end  -->	
        <!-- column-wrapper -->	
        <div class="column-wrapper  single-content-section">
            <!-- fixed-bottom-content-->	
            
            <!-- fixed-bottom-content end -->	
            <!--section  -->	
            <section class="single-content-section">
                <div class="container small-container">
                    <!-- post -->
                    <div class="post fl-wrap fw-post">
                        <h2><span>Blog post title</span></h2>
                        <ul class="blog-title-opt">
                            <li><a href="#">12 may 2017</a></li>
                            <li> - </li>
                            <li><a href="#">Interviews </a></li>
                            <li><a href="#">Design</a></li>
                        </ul>
                        <!-- blog media -->
                        <div class="blog-media fl-wrap">
                            <img src="images/folio/1.jpg" class="respimg" alt="">
                        </div>
                        <!-- blog media end -->
                        <div class="blog-text fl-wrap">
                            <div class="pr-tags fl-wrap">
                                <span>Tags : </span>
                                <ul>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Photography</a></li>
                                    <li><a href="#">Fasion</a></li>
                                </ul>
                            </div>
                            <p>
                                Dorándose sobre las rocas del muelle, encontrarás a lobos marinos e iguanas concentrados en el disfrute de su vida libre. Verás piqueros de patas azules y fragatas surcando los cielos con la confianza de quien se sabe dueño de ese territorio. A tus pies, la arena blanca y brillante se sentirá como una alfombra suave. Cactus, Sesuvium y un bosque de Scalecia colmarán tu vida de un esplender vegetal único en esta isla..
                            </p>
                            <a href="blog-single.html" class="btn float-btn flat-btn">Read more </a>
                        </div>
                    </div>
                   
                </div>
            </section>
            <!--section end  -->	
            <!--footer -->			
            <footer class="min-footer fl-wrap content-animvisible">
                <div class="container small-container">
                    <div class="footer-inner fl-wrap">
                        <!-- policy-box-->
                        <div class="policy-box">
                            <span>&#169; Kotlis 2019  /  All rights reserved. </span>
                        </div>
                        <!-- policy-box end-->
                        <a href="#" class="to-top-btn to-top">Back to top <i class="fal fa-long-arrow-up"></i></a>
                    </div>
                </div>
            </footer>
            <!--footer end  -->	
        </div>
        <!-- column-wrapper -->	
    </div>
    <!--content end-->	
    <!--share-wrapper-->
    <div class="share-wrapper">
        <div class="share-container fl-wrap  isShare"></div>
    </div>
    <!--share-wrapper end-->
</div>

{% endblock %}