{% extends "webapp/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#page-top">
                {% image item.logo width-110 format-jpeg as logo %}
                <img src="{{logo.url}}" alt="">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse  navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#about">About Us</a>
                </li>
                <li class="page-scroll">
                    <a href="#download">The Island</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">The experience</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">The locals</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Tours</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li>
                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                </li>
                <li>
                    
                </li>
                <li class="page-scroll">
                    <a href="#contact"><i class="fa fa-regular fa-shopping-cart"></i> Cart</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">ENG/ESP</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<section class="home">
    <div class="home-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Be part of the magic</h1>
                    
                    <div class="page-scroll">
                        <a href="#intro" class="btn btn-circle">
                            <i class="fa fa-solid fa-angle-down"></i>
                         </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Be part of the magic</h1>
                    
                    <div class="page-scroll">
                        <a href="#explore" class="btn btn-circle">
                            <i class="fa fa-solid fa-angle-down"></i>
                         </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="explore">
    <div class="explore-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Be part of the magic</h1>
                    
                    <div class="page-scroll">
                        <a href="#gallery-1" class="btn btn-circle">
                            <i class="fa fa-solid fa-angle-down"></i>
                         </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="gallery-1">
    <div class="gallery-1-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Be part of the magic</h1>
                    
                    <div class="page-scroll">
                        <a href="#gallery-2" class="btn btn-circle">
                            <i class="fa fa-solid fa-angle-down"></i>
                         </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="gallery-2">
    <div class="gallery-2-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Be part of the magic</h1>
                    
                    <div class="page-scroll">
                        <a href="#gallery-3" class="btn btn-circle">
                            <i class="fa fa-solid fa-angle-down"></i>
                         </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="gallery-3">
    <div class="gallery-3-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Be part of the magic</h1>
                    
                    <div class="page-scroll">
                        <a href="#magic" class="btn btn-circle">
                            <i class="fa fa-solid fa-angle-down"></i>
                         </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="magic">
    <div class="magic-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Be part of the magic</h1>
                    
                    <div class="page-scroll">
                        <a href="#testimonials-intro" class="btn btn-circle">
                            <i class="fa fa-solid fa-angle-down"></i>
                         </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonials-intro">
    <div class="testimonials-intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Be part of the magic</h1>
                    
                    <div class="page-scroll">
                        <a href="#testimonials-explore" class="btn btn-circle">
                            <i class="fa fa-solid fa-angle-down"></i>
                         </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonials-explore">
    <div class="testimonials-explore-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Be part of the magic</h1>
                    
                    <div class="page-scroll">
                        <a href="#meet" class="btn btn-circle">
                            <i class="fa fa-solid fa-angle-down"></i>
                         </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="meet">
    <div class="meet-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Be part of the magic</h1>
                    
                    <div class="page-scroll">
                        <a href="#people" class="btn btn-circle">
                            <i class="fa fa-solid fa-angle-down"></i>
                         </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="people">
    <div class="people-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Be part of the magic</h1>
                    
                    <div class="page-scroll">
                        <a href="#plan" class="btn btn-circle">
                            <i class="fa fa-solid fa-angle-down"></i>
                         </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="plan">
    <div class="plan-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Be part of the magic</h1>
                    
                    <div class="page-scroll">
                        <a href="#products" class="btn btn-circle">
                            <i class="fa fa-solid fa-angle-down"></i>
                         </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="products">
    <div class="products-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Be part of the magic</h1>
                    
                    <div class="page-scroll">
                        <a href="#lets" class="btn btn-circle">
                            <i class="fa fa-solid fa-angle-down"></i>
                         </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="lets">
    <div class="lets-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Be part of the magic</h1>
                    
                    <div class="page-scroll">
                        <a href="#contact" class="btn btn-circle">
                            <i class="fa fa-solid fa-angle-down"></i>
                         </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact">
    <div class="contact-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Be part of the magic</h1>
                    
                    <div class="page-scroll">
                        <a href="#intro" class="btn btn-circle">
                            <i class="fa fa-solid fa-angle-down"></i>
                         </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock  %}