{% extends "webapp/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#page-top">
                {% image item.logo width-110 format-png as logo %}
                <img src="{{logo.url}}"  alt="">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse  navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#about">About Us</a>
                </li>
                <li class="page-scroll">
                    <a href="#download">The Island</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">The experience</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">The locals</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Tours</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li>
                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                </li>
                <li>
                    
                </li>
                <li class="page-scroll">
                    <a href="#contact"><i class="fa fa-regular fa-shopping-cart"></i> Cart</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">ENG/ESP</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<section class="home">
    <div class="home-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Be part of the magic</h1>
                    
                    <div class="page-scroll">
                        <a href="#intro" class="btn">
                            <img src="{% static '/img/angle-down.png' %}" style="width:80px; margin-top:265px;"  alt="">
                         </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section id="intro" class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                 
                    <p class="brand-heading-intro">The community of Floreana is
                    one of the most isolated and smallest in
                   the world, with no more than 150 
                    inhabitants; this leads us to have an
                    experience of what it means to live in
                      such a small group.</p>
                        <p class="brand-heading-intro" >Learn from its people and places of the
                            first settlers as well as shared adventures and stories.</p> 
                </div>
                </div>
               
            </div>
        </div>
    </div>
</section>

<section id="explore" class="explore">
    <div class="explore-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    <h1 class="explore-brand-heading">Explore Unique Wonders</h1>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section id="gallery-1" class="gallery-1">
    <div class="gallery-1-body">
        <div class="container">
            <div class="row">
                <div class="portfolio-item row">
                    <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                        {% for item in page.galleria.all %}
                         {% image item.image width-2000 as s1_1 %}
                        <a href="{{s1_1.url}}" class="fancylight popup-btn" data-fancybox-group="light"> 
                            <figure>  
                        {% image item.image width-300 as s1 %}
                        <img class="img-fluid" src="{{s1.url}}" style=" border-radius: 100% ; width:300px; height: 300px; margin-left:0px; padding:0px;" alt="">
                        

                        <figcaption style="margin-top: 20px;">Caption goes here</figcaption>
                            </figure> 
                        {% endfor %}
                        </a>
                     </div>               

                     <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                        {% for item in page.galleria.all %}
                         {% image item.image width-300 as s1 %}
                        <a href="{{s1.url}}" class="fancylight popup-btn" data-fancybox-group="light"> 
                        <figure>      
                        <img class="img-fluid" src="{{s1.url}}" style=" border-radius: 100% ; width:300px; height: 300px; margin-left:135px; padding:0px;" alt="">
                        <figcaption style="margin-left:210px; width:150px ;margin-top: 20px;">Caption goes here</figcaption>
                        </figure> 
                        {% endfor %}
                        </a>
                     </div> 

                     <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                        {% for item in page.galleria.all %}
                         {% image item.image width-300 as s1 %}
                        <a href="{{s1.url}}" class="fancylight popup-btn" data-fancybox-group="light"> 
                        <figure> 
                        <img class="img-fluid" src="{{s1.url}}" style=" border-radius: 100% ; width:300px; height: 300px; margin-left:250px; padding:0px;" alt="">
                        <figcaption style="margin-left:330px; width:150px; margin-top: 20px;">Caption goes here</figcaption>
                        </figure> 
                        {% endfor %}
                        </a>
                     </div> 

                </div>

                <div class="portfolio-item row">
                    <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                        {% for item in page.galleria.all %}
                         {% image item.image width-300 as s1 %}
                        <a href="{{s1.url}}"class="fancylight popup-btn" data-fancybox-group="light"> 
                            <figure>  
                        <img class="img-fluid" src="{{s1.url}}" style=" border-radius: 100% ; width:300px; height: 300px; margin-left:0px; padding:0px;" alt="">
                        <figcaption style="margin-top: 20px;">Caption goes here</figcaption>
                            </figure> 
                        {% endfor %}
                        </a>
                     </div>               

                     <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                        {% for item in page.galleria.all %}
                         {% image item.image width-300 as s1 %}
                        <a href="{{s1.url}}" class="fancylight popup-btn" data-fancybox-group="light"> 
                        <figure>      
                        <img class="img-fluid" src="{{s1.url}}" style=" border-radius: 100% ; width:300px; height: 300px; margin-left:135px; padding:0px;" alt="">
                        <figcaption style="margin-left:210px; width:150px ;margin-top: 20px;">Caption goes here</figcaption>
                        </figure> 
                        {% endfor %}
                        </a>
                     </div> 

                     <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                        {% for item in page.galleria.all %}
                         {% image item.image width-300 as s1 %}
                        <a href="{{s1.url}}" class="fancylight popup-btn" data-fancybox-group="light"> 
                        <figure> 
                        <img class="img-fluid" src="{{s1.url}}" style=" border-radius: 100% ; width:300px; height: 300px; margin-left:250px; padding:0px;" alt="">
                        <figcaption style="margin-left:330px; width:150px; margin-top: 20px;">Caption goes here</figcaption>
                        </figure> 
                        {% endfor %}
                        </a>
                     </div> 

                </div>
                
            </div>
           
        </div>
    </div>              
</section>

<section id="gallery-2" class="gallery-2">
    <div class="gallery-2-body">
        <div class="container">
            <div class="row">
                <div class="portfolio-item row">
                    <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                        {% for item in page.galleria.all %}
                         {% image item.image width-2000 as s1_1 %}
                        <a href="{{s1_1.url}}" class="fancylight popup-btn" data-fancybox-group="light"> 
                            <figure>  
                        {% image item.image width-300 as s1 %}
                        <img class="img-fluid" src="{{s1.url}}" style=" border-radius: 100% ; width:300px; height: 300px; margin-left:0px; padding:0px;" alt="">
                        

                        <figcaption style="margin-top: 20px;">Caption goes here</figcaption>
                            </figure> 
                        {% endfor %}
                        </a>
                     </div>               

                     <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                        {% for item in page.galleria.all %}
                         {% image item.image width-300 as s1 %}
                        <a href="{{s1.url}}" class="fancylight popup-btn" data-fancybox-group="light"> 
                        <figure>      
                        <img class="img-fluid" src="{{s1.url}}" style=" border-radius: 100% ; width:300px; height: 300px; margin-left:135px; padding:0px;" alt="">
                        <figcaption style="margin-left:210px; width:150px ;margin-top: 20px;">Caption goes here</figcaption>
                        </figure> 
                        {% endfor %}
                        </a>
                     </div> 

                     <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                        {% for item in page.galleria.all %}
                         {% image item.image width-300 as s1 %}
                        <a href="{{s1.url}}" class="fancylight popup-btn" data-fancybox-group="light"> 
                        <figure> 
                        <img class="img-fluid" src="{{s1.url}}" style=" border-radius: 100% ; width:300px; height: 300px; margin-left:250px; padding:0px;" alt="">
                        <figcaption style="margin-left:330px; width:150px; margin-top: 20px;">Caption goes here</figcaption>
                        </figure> 
                        {% endfor %}
                        </a>
                     </div> 

                </div>

                <div class="portfolio-item row">
                    <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                        {% for item in page.galleria.all %}
                         {% image item.image width-300 as s1 %}
                        <a href="{{s1.url}}"class="fancylight popup-btn" data-fancybox-group="light"> 
                            <figure>  
                        <img class="img-fluid" src="{{s1.url}}" style=" border-radius: 100% ; width:300px; height: 300px; margin-left:0px; padding:0px;" alt="">
                        <figcaption style="margin-top: 20px;">Caption goes here</figcaption>
                            </figure> 
                        {% endfor %}
                        </a>
                     </div>               

                     <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                        {% for item in page.galleria.all %}
                         {% image item.image width-300 as s1 %}
                        <a href="{{s1.url}}" class="fancylight popup-btn" data-fancybox-group="light"> 
                        <figure>      
                        <img class="img-fluid" src="{{s1.url}}" style=" border-radius: 100% ; width:300px; height: 300px; margin-left:135px; padding:0px;" alt="">
                        <figcaption style="margin-left:210px; width:150px ;margin-top: 20px;">Caption goes here</figcaption>
                        </figure> 
                        {% endfor %}
                        </a>
                     </div> 

                     <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                        {% for item in page.galleria.all %}
                         {% image item.image width-300 as s1 %}
                        <a href="{{s1.url}}" class="fancylight popup-btn" data-fancybox-group="light"> 
                        <figure> 
                        <img class="img-fluid" src="{{s1.url}}" style=" border-radius: 100% ; width:300px; height: 300px; margin-left:250px; padding:0px;" alt="">
                        <figcaption style="margin-left:330px; width:150px; margin-top: 20px;">Caption goes here</figcaption>
                        </figure> 
                        {% endfor %}
                        </a>
                     </div> 

                </div>
                
            </div>
            
        </div>
    </div>              
</section>

<section id="gallery-3" class="gallery-3">
    <div class="gallery-3-body">
        <div class="container">
            <div class="row">
                <div class="portfolio-item row">
                    <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                        {% for item in page.galleria.all %}
                         {% image item.image width-2000 as s1_1 %}
                        <a href="{{s1_1.url}}" class="fancylight popup-btn" data-fancybox-group="light"> 
                            <figure>  
                        {% image item.image width-300 as s1 %}
                        <img class="img-fluid" src="{{s1.url}}" style=" border-radius: 100% ; width:300px; height: 300px; margin-left:0px; padding:0px;" alt="">
                        

                        <figcaption style="margin-top: 20px;">Caption goes here</figcaption>
                            </figure> 
                        {% endfor %}
                        </a>
                     </div>               

                     <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                        {% for item in page.galleria.all %}
                         {% image item.image width-300 as s1 %}
                        <a href="{{s1.url}}" class="fancylight popup-btn" data-fancybox-group="light"> 
                        <figure>      
                        <img class="img-fluid" src="{{s1.url}}" style=" border-radius: 100% ; width:300px; height: 300px; margin-left:135px; padding:0px;" alt="">
                        <figcaption style="margin-left:210px; width:150px ;margin-top: 20px;">Caption goes here</figcaption>
                        </figure> 
                        {% endfor %}
                        </a>
                     </div> 

                     <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                        {% for item in page.galleria.all %}
                         {% image item.image width-300 as s1 %}
                        <a href="{{s1.url}}" class="fancylight popup-btn" data-fancybox-group="light"> 
                        <figure> 
                        <img class="img-fluid" src="{{s1.url}}" style=" border-radius: 100% ; width:300px; height: 300px; margin-left:250px; padding:0px;" alt="">
                        <figcaption style="margin-left:330px; width:150px; margin-top: 20px;">Caption goes here</figcaption>
                        </figure> 
                        {% endfor %}
                        </a>
                     </div> 

                </div>

                <div class="portfolio-item row">
                    <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                        {% for item in page.galleria.all %}
                         {% image item.image width-300 as s1 %}
                        <a href="{{s1.url}}"class="fancylight popup-btn" data-fancybox-group="light"> 
                            <figure>  
                        <img class="img-fluid" src="{{s1.url}}" style=" border-radius: 100% ; width:300px; height: 300px; margin-left:0px; padding:0px;" alt="">
                        <figcaption style="margin-top: 20px;">Caption goes here</figcaption>
                            </figure> 
                        {% endfor %}
                        </a>
                     </div>               

                     <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                        {% for item in page.galleria.all %}
                         {% image item.image width-300 as s1 %}
                        <a href="{{s1.url}}" class="fancylight popup-btn" data-fancybox-group="light"> 
                        <figure>      
                        <img class="img-fluid" src="{{s1.url}}" style=" border-radius: 100% ; width:300px; height: 300px; margin-left:135px; padding:0px;" alt="">
                        <figcaption style="margin-left:210px; width:150px ;margin-top: 20px;">Caption goes here</figcaption>
                        </figure> 
                        {% endfor %}
                        </a>
                     </div> 

                     <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                        {% for item in page.galleria.all %}
                         {% image item.image width-300 as s1 %}
                        <a href="{{s1.url}}" class="fancylight popup-btn" data-fancybox-group="light"> 
                        <figure> 
                        <img class="img-fluid" src="{{s1.url}}" style=" border-radius: 100% ; width:300px; height: 300px; margin-left:250px; padding:0px;" alt="">
                        <figcaption style="margin-left:330px; width:150px; margin-top: 20px;">Caption goes here</figcaption>
                        </figure> 
                        {% endfor %}
                        </a>
                     </div> 

                </div>
                
            </div>
           
        </div>
    </div>              
</section>

<section id="meet" class="meet">
    <div class="meet-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading"></h1>
                    
                    <div class="page-scroll">
                        <a href="#explore" class="btn">
                            <img src="{}" style="width:80px; margin-top:265px;" alt="">
                         </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section id="people" class="people">
    <div class="people-body">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-md-1">
                    <div class="grid-container">
                        <div>
                            {% for item in page.galleria.all %}
                            {% image item.image_20 height-500 as p1 %}
                            <figure> 
                          <img class='grid-item grid-item-3'style="border-radius:25px; width:270px;" src='{{p1.url}}' alt=''>
                          <figcaption style="margin-left: 50px;width: 150px;margin-top: -29px; font-size: 23px;">Claudio Cruz</figcaption>
                            </figure>
                         
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-2">
                    <div class="grid-container">
                        <div>
                            {% for item in page.galleria.all %}
                            {% image item.image_21 width-300 as p2 %}
                            <figure> 
                          <img class='grid-item grid-item-2'style="border-radius:25px; width:270px;" src='{{p2.url}}' alt=''>
                          <figcaption style="margin-left: -2px;width: 280px;margin-top: -29px; font-size: 23px;">Floreana Wittmer</figcaption>
                            </figure>
                            {% endfor %}
                          
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-1">
                    <div class="grid-container">
                        <div>
                            {% for item in page.galleria.all %}
                            {% image item.image_22 width-300 as p3 %}
                            <figure> 
                          <img class='grid-item grid-item-3'style="border-radius:25px; width:270px;" src='{{p3.url}}' alt=''>
                          <figcaption style="margin-left: 50px;width: 150px;margin-top: -29px; font-size: 23px;">Leida Cruz</figcaption>
                        </figure>
                          {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-1">
                    <div class="grid-container">
                        <div>
                            {% for item in page.galleria.all %}
                            {% image item.image_23 width-300 as p4 %}
                            <figure> 
                          <img class='grid-item grid-item-4'style="border-radius:25px; width:270px;" src='{{p4.url}}' alt=''>
                          <figcaption style="margin-left: 50px;width: 150px;margin-top: -29px; font-size: 23px;">Máximo Freire</figcaption>
                        </figure>
                         
                          {% endfor %}
                        </div>
                    </div>
                </div>
                             
                </div>
                <div class="page-scroll">
                    <a href="#explore" class="btn">
                        <img src="{% static '/img/circle-angle.png' %}" style="width:80px; margin-top:265px;"  alt="">
                     </a>
                </div>
            </div>
        </div>
    </div>
</section>


<section>

    <div class="slideshow-container ">

        
            <div class="mySlides fade" style="display: grid; height: 800px;"> 
                <div class="slide1">
                <div class="container ">         
                <div class="row">
                   <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">MAKE THE MAGIC HAPPEN</h1>
                    
                    <div class="page-scroll">
                        <a href="#explore" class="btn">
                            <img src="{% static '/img/circle-angle.png' %}" style="width:80px; margin-top:265px;"  alt="">
                         </a>
                    </div>
                </div>
             </div>
          </div>
        </div>
    </div>

       

        <div class="mySlides fade" style="display: grid; height: 800px;">   
            <div class="slide2">
            <div class="container">          
            <div class="row">
               <div class="col-md-8 col-md-offset-5">
           
                <p class="brand-parraph">
                   
                    Explore the natural wonders of Darwins enchanted isles while having a chat with the local guides.
Explore the natural wonders of Darwins enchanted isles while having a chat with the local guides. Explore the natural wonders of Darwinsenchanted isles while having a chat with the local guides.
Darwins encchanted isles while having a chat with the local guides.
                </p>
                <hr>
            </div>
         </div>
      </div>
    </div>
</div>

<div class="mySlides fade" style="display: grid; height: 800px;">   
    <div class="slide3">
    <div class="container">          
    <div class="row">
       <div class="col-md-8 col-md-offset-5">
        <p class="brand-parraph-2">
                   
            Be amazed by the umpresendented scenery, in one of the most uique and remote places on planet earth.
            Be amazed by the umpresendented scenery, in one of the most uique and remote places on planet earth.
            Be amazed by the umpresendented scenery, in one of the most uique and remote places on planet earth
        </p>
        <hr>
        
    </div>
 </div>
</div>
</div>
</div>


<div class="mySlides fade" style="display: grid; height: 800px;">   
    <div class="slide4">
    <div class="container">          
    <div class="row">
       <div class="col-md-8 col-md-offset-5">
        <p class="brand-parraph">
                   
            Share a taste of the local produce, farmed organically by the member of the community and take the adventure into action.
Share a taste of the local produce, farmed organically by the member of the community and take the adventure into action.
Share a taste of the local community and take the adventure into action.
        </p>
        <hr>
    </div>
 </div>
</div>
</div>
</div>


<div class="mySlides fade" style="display: grid; height: 800px;">   
    <div class="slide5">
    <div class="container">          
    <div class="row">
       <div class="col-md-8 col-md-offset-5">
        <p class="brand-parraph">
                   
            Share a taste of the local produce, farmed organically by the member of the community and take the adventure into action.
Share a taste of the local produce, farmed organically by the member of the community and take the adventure into action.
Share a taste of the local community and take the adventure into action.
        </p>
        <hr>
    </div>
 </div>
</div>
</div>
</div>


          <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

   


</section>

        

 <!-- Slideshow container -->
 
   
 



    



<section id="plan" class="plan">
    <div class="plan-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">PLAN YOUR The JOURNEY</h1>
                    
                    <div class="page-scroll">
                        <a href="#explore" class="btn">
                            <img src="{% static '/img/circle-angle.png' %}" style="width:100px;"  alt="">
                         </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>



<section id="products" class="products">
    <div class="products-body">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    
                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col-1" class="px-6 py-3">
                          <img class='grid-item grid-item-4'style="border-radius:25px; width:25px;" src='{% static 'img/circle.png' %}' alt=''> 
                          Community Charm
                                        <p style="color:#3e3d3d; font-weight: 200;";>3 days / 2 nights</p>
                                       
                                     <p style="color:#3e3d3d; font-size:15px; margin-top:-30px; height:52px">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; cart<i class="fa fa-regular fa-shopping-cart"></i></p>
                                        <hr style="width:103%; margin-top: -56px;height: 23px;border-top: 1px solid #878787;">
                                      
                                    </th>
                                </tr>
                            </thead>

                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col-1" class="px-6 py-3">
                          <img class='grid-item grid-item-4'style="border-radius:25px; width:25px;" src='{% static 'img/circle.png' %}' alt=''> 
                          Community Charm
                                        <p style="color:#3e3d3d; font-weight: 200;";>3 days / 2 nights</p>
                                       
                                     <p style="color:#3e3d3d; font-size:15px; margin-top:-30px; height:52px">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; cart<i class="fa fa-regular fa-shopping-cart"></i></p>
                                        <hr style="width:103%; margin-top: -56px;height: 23px;border-top: 1px solid #878787;">
                                      
                                    </th>
                                </tr>
                            </thead>


                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col-1" class="px-6 py-3">
                          <img class='grid-item grid-item-4'style="border-radius:25px; width:25px;" src='{% static 'img/circle.png' %}' alt=''> 
                          Community Charm
                                        <p style="color:#3e3d3d; font-weight: 200;";>3 days / 2 nights</p>
                                       
                                     <p style="color:#3e3d3d; font-size:15px; margin-top:-30px; height:52px">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; cart<i class="fa fa-regular fa-shopping-cart"></i></p>
                                        <hr style="width:103%; margin-top: -56px;height: 23px; border-top: 1px solid #878787;">
                                      
                                    </th>
                                </tr>
                            </thead>

                            
                        
                        </table>
                    </div>
            
                    
                    
                    
                </div>

                <div class="col-md-3 col-md-offset-2">
                 
                    {% for item in page.galleria.all %}
                    {% image item.image_2 width-500 as s2 %}
                    
                  <img class='grid-item grid-item-4'style="border-radius:25px; width:270px;" src='{{s2.url}}' alt=''>
                  {% endfor %}
                  
                    
                </div>
            </div>
        </div>
    </div>
</section>


<section id="lets" class="lets">
    <div class="lets-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">LETS GET IN TOUCH</h1>
                    
                    <div class="page-scroll">
                        <a href="#explore" class="btn">
                            <img src="{% static '/img/circle-angle.png' %}" style="width:100px;"  alt="">
                         </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="contact">
    <div class="contact-body">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <div class="contact-wrapper">
  
                        <!-- Left contact page --> 
                        <h4>Contact us with any inquiries about our tourist packages or any details about our services in Floreana.</h4>
                          
                          <form id="contact-form" class="form-horizontal" role="form">
                             
                            <div class="form-group">
                              <div class="col-sm-12">
                                <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="" required>
                              </div>
                            </div>
                      
                            <div class="form-group">
                              <div class="col-sm-12">
                                <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="" required>
                              </div>
                            </div>
                      
                            <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message" required></textarea>
                            
                            <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
                              <div class="alt-send-button">
                                <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
                              </div>
                            
                            </button>
                            
                          </form>
                          <p>Floreana Community Center</p>
                          <p> Puerto Velasco Ibarra • Galápagos, Ecuador</p>
                        
                        </div>        
                </div>
            </div>
        </div>
    </div>
</section>







{% endblock  %}