{% extends "webapp/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#page-top">
                {% image item.logo width-110 format-jpeg as logo %}
                <img src="{{logo.url}}" alt="">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse  navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#about">About Us</a>
                </li>
                <li class="page-scroll">
                    <a href="#download">The Island</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">The experience</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">The locals</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Tours</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li>
                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                </li>
                <li>
                    
                </li>
                <li class="page-scroll">
                    <a href="#contact"><i class="fa fa-regular fa-shopping-cart"></i> Cart</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">ENG/ESP</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<section class="home">
    <div class="home-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Be part of the magic</h1>
                    
                    <div class="page-scroll">
                        <a href="#intro" class="btn btn-circle">
                            <i class="fa fa-solid fa-angle-down"></i>
                         </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section id="intro" class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>About Grayscale</h2>
                    <p>Grayscale is a premium quality, free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, all you need to do is download the template on the preview page. You can use this template for any purpose, personal or commercial.</p>
                    <p>This striking, black and white theme features stock photographs by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Map skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
                    <p>With this template, just the slightest splash of color can make a huge impact on the overall presentation and design.</p>
                </div>
                </div>
                <div class="page-scroll">
                    <a href="#explore" class="btn btn-circle">
                        <i class="fa fa-solid fa-angle-down"></i>
                     </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="explore" class="explore">
    <div class="explore-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Explore Unique Wonders</h1>
                    
                    <div class="page-scroll">
                        <a href="#gallery-1" class="btn btn-circle">
                            <i class="fa fa-solid fa-angle-down"></i>
                         </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section id="gallery-1" class="gallery-1">
    <div class="gallery-1-body">
        <div class="container">
            <div class="top">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                   
        <ul>
            <li><a href="#img_1"><img src="https://image.freepik.com/free-photo/road-curve-landscape_426-19324358.jpg"></a></li>
              <li><a href="#img_2"><img src="https://image.freepik.com/free-photo/road-curve-landscape_426-19324358.jpg"></a></li>
              <li><a href="#img_3"><img src="https://image.freepik.com/free-photo/road-curve-landscape_426-19324358.jpg"></a></li>
              <li><a href="#img_4"><img src="https://image.freepik.com/free-photo/road-curve-landscape_426-19324358.jpg"></a></li>
              <li><a href="#img_5"><img src="https://image.freepik.com/free-photo/road-curve-landscape_426-19324358.jpg"></a></li>
              <li><a href="#img_6"><img src="https://image.freepik.com/free-photo/road-curve-landscape_426-19324358.jpg"></a></li>
          </ul>
          <a href="#_1" class="lightbox trans" id="img_1"><img src="https://farm8.staticflickr.com/7564/16097104758_e60521f7fa_b.jpg"></a>
          <a href="#_2" class="lightbox trans" id="img_2"><img src="https://picjumbo.imgix.net/HNCK4011.jpg?q=40&w=1650&sharp=30"></a>
          <a href="#_3" class="lightbox trans" id="img_3"><img src="https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=46a85a1451e47aea5152ade8299f2894"></a>
          <a href="#_4" class="lightbox trans" id="img_4"><img src="https://picjumbo.imgix.net/HNCK3991.jpg?q=40&w=1650&sharp=30"></a>
          <a href="#_5" class="lightbox trans" id="img_5"><img src="https://image.freepik.com/free-photo/sunlight-in-the-forest_1004-9.jpg"></a>
          <a href="#_6" class="lightbox trans" id="img_6"><img src="https://image.freepik.com/free-photo/road-curve-landscape_426-19324358.jpg"></a>
        </div>
      </div>
  </div>

                    
                    <div class="page-scroll">
                        <a href="#gallery-2" class="btn btn-circle">
                            <i class="fa fa-solid fa-angle-down"></i>
                         </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section id="gallery-2" class="gallery-2">
    <div class="gallery-2-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Be part of the magic</h1>
                    
                    <div class="page-scroll">
                        <a href="#gallery-3" class="btn btn-circle">
                            <i class="fa fa-solid fa-angle-down"></i>
                         </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section id="gallery-3" class="gallery-3">
    <div class="gallery-3-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Be part of the magic</h1>
                    
                    <div class="page-scroll">
                        <a href="#magic" class="btn btn-circle">
                            <i class="fa fa-solid fa-angle-down"></i>
                         </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section id="magic" class="magic">
    <div class="magic-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">MAKE THE MAGIC HAPPEN</h1>
                    
                    <div class="page-scroll">
                        <a href="#testimonials-intro" class="btn btn-circle">
                            <i class="fa fa-solid fa-angle-down"></i>
                         </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section id="testimonials-intro" class="testimonials-intro">
    <div class="testimonials-intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Be part of the magic</h1>
                    
                    <div class="page-scroll">
                        <a href="#testimonials-explore" class="btn btn-circle">
                            <i class="fa fa-solid fa-angle-down"></i>
                         </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section id="testimonials-explore" class="testimonials-explore">
    <div class="testimonials-explore-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Be part of the magic</h1>
                    
                    <div class="page-scroll">
                        <a href="#meet" class="btn btn-circle">
                            <i class="fa fa-solid fa-angle-down"></i>
                         </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section id="meet" class="meet">
    <div class="meet-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Be part of the magic</h1>
                    
                    <div class="page-scroll">
                        <a href="#people" class="btn btn-circle">
                            <i class="fa fa-solid fa-angle-down"></i>
                         </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section id="people" class="people">
    <div class="people-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Be part of the magic</h1>
                    
                    <div class="page-scroll">
                        <a href="#plan" class="btn btn-circle">
                            <i class="fa fa-solid fa-angle-down"></i>
                         </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section id="plan" class="plan">
    <div class="plan-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">PLAN YOUR MAGIC JOURNEY</h1>
                    
                    <div class="page-scroll">
                        <a href="#products" class="btn btn-circle">
                            <i class="fa fa-solid fa-angle-down"></i>
                         </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section id="products" class="products">
    <div class="products-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Be part of the magic</h1>
                    
                    <div class="page-scroll">
                        <a href="#lets" class="btn btn-circle">
                            <i class="fa fa-solid fa-angle-down"></i>
                         </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section id="lets" class="lets">
    <div class="lets-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">LETS GET IN TOUCH</h1>
                    
                    <div class="page-scroll">
                        <a href="#contact" class="btn btn-circle">
                            <i class="fa fa-solid fa-angle-down"></i>
                         </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="contact">
    <div class="contact-body">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <div class="contact-wrapper">
  
                        <!-- Left contact page --> 
                        <h4>Contact us with any inquiries about our tourist packages or any details about our services in Floreana.</h4>
                          
                          <form id="contact-form" class="form-horizontal" role="form">
                             
                            <div class="form-group">
                              <div class="col-sm-12">
                                <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="" required>
                              </div>
                            </div>
                      
                            <div class="form-group">
                              <div class="col-sm-12">
                                <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="" required>
                              </div>
                            </div>
                      
                            <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message" required></textarea>
                            
                            <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
                              <div class="alt-send-button">
                                <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
                              </div>
                            
                            </button>
                            
                          </form>
                          <p>Floreana Community Center</p>
                          <p> Puerto Velasco Ibarra • Galápagos, Ecuador</p>
                        
                        </div>        
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock  %}